* {
    font-family: Arial, Helvetica, sans-serif;
}

.pepsi-logo1 {
    width: 73px;
    position: relative;
    left: 20px;
}

.ul-header {
    list-style-type: none;
    background-color: #0065c3;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
}

.li-header {
    display: inline;
    background-color: #0065c3;
    color: #ffffff;
    padding-left: 1cm;
    padding: 10px;
    position: relative;
    bottom: 30px;
    left: 50px;
}

.buypepsiproducts1 {
    float: right;
    border-radius: 25px;
    border-color: #ffffff;
    border-style:solid;
    background-color: #0065c3;
    color: #ffffff;
    position: relative;
    top: 30px;
    right: 80px;
}

.div-6 {
    background-color:rgb(5,82,174);
}

.nitropepsican {
    width: 350px;
    float: center;
    padding-left: 300px;
}

.nitrologo {
    width: 400px;
    float: center;
    padding: 50px;
    padding-bottom: 200px;
}

.div-3 {
    background-color: black;
    width:1500px;
}

.PZS-headline {
    width: 700px;
    position: relative;
    bottom: 280px;
    left: 100px;
}

.can-pzs {
    position: relative;
    left: 130px;
}

.div-4{
    background-color: #0065c3;
    width: 1500px;
}

.tag-line {
    width: 500px;
    position: relative;
    left: 750px;
}

.bg1-desktop {
    width: 1300px;
    height: 650px;
    position: relative;
    left: 50px;
}

.twil-can {
    width: 800px;
}

.twil-can-header {
    width: 480px;
    position: relative;
    bottom: 300px;
    right: 50px;
}

.div-7 {
    background-color: #0065c3;
}

.promotion-hero {
    width: 600px;
    position: relative;
    left: 600px;
}

.p-7-1 {
    color: #ffffff;
    position: relative;
    bottom: 250px;
    left: 180px;
}

.p-7-2 {
    color: #ffffff;
    position: relative;
    bottom: 200px;
    left: 150px;
}

.footer {
    background-color: #0065c3;
    color: #ffffff;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.ul-footer-1 {
    color: #ffffff;
    position: relative;
    left: 100px;
}

.li-footer-1 {
    color: #ffffff;
    display: block;
    position: relative;
    bottom: 63px;
}

.ul-footer-2{
    color: #ffffff;
    position: relative;
    left: 320px;

}

.li-footer-2 {
    color: #ffffff;
    display: block;
    position: relative;
    bottom: 130px;
}

.ul-footer-3 {
    color: #ffffff;
    position: relative;
    left: 500px;
}

.li-footer-3 {
    color: #ffffff;
    display: block;
    position: relative;
    bottom: 200px;
}

.p-footer {
    float: right;
    border-radius: 25px;
    border-color: #ffffff;
    border-style: solid;
    background-color: #0065c3;
    position: relative;
    right: 100px;
    bottom: 290px;
}

.logo-image-footer {
    position: relative;
    top: 38px;
}